@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.ff-roboto { font-family: 'Roboto', sans-serif; }
.ff-audiowide { font-family: 'Audiowide', cursive; }

html, body, #root {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  
  height: 100vh;
  background-color: #F5F5F5;
}